USE [master]
GO
/****** Object:  Database [autosdb]    Script Date: 5/11/2018 20:01:33 ******/
CREATE DATABASE [autosdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'autosdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\autosdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'autosdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\autosdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [autosdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [autosdb]
GO
USE [autosdb]
GO
/****** Object:  Table [dbo].[auto]    Script Date: 5/11/2018 20:01:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto](
	[auto_id] [int] IDENTITY(1,1) NOT NULL,
	[auto_placa] [char](8) NULL,
	[auto_valor] [real] NULL,
 CONSTRAINT [pk_auto] PRIMARY KEY CLUSTERED 
(
	[auto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cliente]    Script Date: 5/11/2018 20:01:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[cli_id] [int] IDENTITY(1,1) NOT NULL,
	[cli_nombre] [varchar](60) NULL,
	[cli_fecha_nacimiento] [date] NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[compra]    Script Date: 5/11/2018 20:01:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[com_id] [int] IDENTITY(1,1) NOT NULL,
	[com_fecha] [date] NULL,
	[con_subtotal] [real] NULL,
	[con_iva] [real] NULL,
	[con_total] [real] NULL,
	[auto_auto_id] [int] NOT NULL,
	[cliente_cli_id] [int] NOT NULL,
 CONSTRAINT [pk_compra] PRIMARY KEY CLUSTERED 
(
	[com_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [fk_compra_auto_idx]    Script Date: 5/11/2018 20:01:33 ******/
CREATE NONCLUSTERED INDEX [fk_compra_auto_idx] ON [dbo].[compra]
(
	[auto_auto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_compra_cliente1_idx]    Script Date: 5/11/2018 20:01:33 ******/
CREATE NONCLUSTERED INDEX [fk_compra_cliente1_idx] ON [dbo].[compra]
(
	[cliente_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [fk_compra_auto] FOREIGN KEY([auto_auto_id])
REFERENCES [dbo].[auto] ([auto_id])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [fk_compra_auto]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [fk_compra_cliente1] FOREIGN KEY([cliente_cli_id])
REFERENCES [dbo].[cliente] ([cli_id])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [fk_compra_cliente1]
GO
USE [master]
GO
