@{
                /**/

                ViewBag.Title = "Configuraciones";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-6">
        <h2>GENERO</h2>
        <p>
            Los detalles brindan valor adicional a nuestros servicios, procura actualizarlos constantemente.
        </p>
        <a href="GENEROes" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-film"></span> MOVIES
        </a>
    </div>
    <div class="col-md-6">
        <h2>DIRECCION</h2>
        <p>Nuestro pilar fundamental es cuidar del bienestar de nuestros Socios.</p>
        <a href="DIRECTORs" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-user"></span> USERS
        </a>
    </div>
    <div class="col-md-6">
        <h2>FORMATO</h2>
        <p>Los detalles brindan valor adicional a nuestros servicios, procura actualizarlos constantemente.</p>
        <a href="FORMATOes" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-star"></span> ACTORS
        </a>
    </div>
    <div class="col-md-6">
        <h2>SEXO</h2>
        <p>Los detalles brindan valor adicional a nuestros servicios, procura actualizarlos constantemente.</p>
        <a href="SEXOes" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-cog"></span> CONFIG
        </a>
    </div>
</div>