@{
    ViewBag.Title = "PREMIUM CINEMA";
}
<center>
    <img src="http://wpc.72c72.betacdn.net/8072C72/vos-images/sites/default/files/styles/landscape_1020_560/public/nota_periodistica/promos.jpg" alt="Smiley face" height="480" width="1125">
</center>
<br />
<div class="jumbotron">

    <h1 style="font: Elephant">PREMIUM CINEMA</h1>
    <p class="lead">Bienvenido a la cadena de cines mas esclusiva de toda la ESPE. Anhelamos acompañarte en tu camino por esta linda empresa de la manera más positiva, esperando satisfacer todos tus gustos multimediales..</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Películas</h2>
        <p>
            Revisa nuestra cartelera con la mejor seleccion de películas y hits del momento!.
        </p>
        <a href="PELICULAs" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-film"></span> MOVIES
        </a>
    </div>
    <div class="col-md-6">
        <h2>Clientes</h2>
        <p>Nuestro pilar fundamental es cuidar del bienestar de nuestros Socios.</p>
        <a href="SOCIOs" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-user"></span> USERS
        </a>
    </div>
    <div class="col-md-6">
        <h2>Actores</h2>
        <p>Acompáñame en un recorrido por la lista de famosos de Hollywood.</p>
        <a href="ACTORs" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-star"></span> ACTORS
        </a>
    </div>
    <div class="col-md-6">
        <h2>Configuraciones</h2>
        <p>Los detalles brindan valor adicional a nuestros servicios, procura actualizarlos constantemente.</p>
        <a href="Home/Config" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-cog"></span> CONFIG
        </a>
    </div>
</div>