@model ejercicioCuatroClases.Models.Libro

@{
    ViewBag.Title = "Mostrar";
}

<h2>Mostrar</h2>
<table class="table table-striped">
    <tr>
        <th>Código</th>
        <td>@Model.Codigo</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Costo</th>
        <td>@Model.Costo</td>
    </tr>

</table>
       

