@{
    ViewBag.Title = "All ypu need is Ecuador";
}

<img class="d-block w-100" width="1200" height="450" src="https://australia.embajada.gob.ec/wp-content/uploads/2018/05/tren-crucero.jpg" alt="Second slide">


<div class="jumbotron">


    <h1>Ecuador</h1>
    <p class="lead">Hermoso Destino Turístico, un paraíso tropical, que vale la pena conocer.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Innformación</h2>
        <p>
            Ecuador es una reciente potencia energética basada en energías ecosustentables.15​16​ Además, se trata del país con una de las más altas concentraciones de ríos por km2 en el mundo,17​ uno de los países de mayor diversidad por km218​19​ por ende, uno de los países con mayor biodiversidad del mundo.20​ Es el primer país del planeta en tener los Derechos de la Naturaleza garantizados en su Constitución.21
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Geografía</h2>
        <p>Ecuador se encuentra sobre la línea ecuatorial terrestre por lo cual su territorio se encuentra en ambos hemisferios.79​ Comprende dos espacios distantes entre sí: el territorio continental al noroeste de América del Sur con algunas islas adyacentes a la costa y, el archipiélago o provincia insular de Galápagos, que se encuentra a 1000 kilómetros de distancia del litoral ecuatoriano en el Océano Pacífico.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Novedades</h2>
        <p>El país tiene un clima muy variado, pues aunque su posición latitudinal le propicia características tropicales, aquel tipo de clima solo es apreciable en un tercio del territorio y la Región Amazónica), en los dos tercios del país restantes existen otros climas definidos, como el subtropical templado húmedo y seco, el continental subtropical, el mediterráneo, tropical de tierras altas, tropical de sabana, de montaña, bioma oceánico y desértico.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
